html{
    background: #D5D8DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D5D8DC, #E5E8E8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D5D8DC, #E5E8E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: large;
}
button{
    background-color: #52b788;
    border: none;
    padding: 13px 32px;
    margin-top: 10px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
}
body{
    margin: auto;
    margin-top: 10px;
    width: 180px;
    height: 400px;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    @media (max-width:768px){
        width: 600px;
    }
}